body {
  height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -ms-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.deck-status {
  text-align: right;
}

.slide {
  height: 100%;
  overflow-y: scroll;
}

textarea {
  width: calc(100% - 1em);
  padding: 0.5em;
  margin-top: 1em;
  border: 2px solid #1575CC;
  font-family: monospace, sans-serif;
}

textarea:focus {
  outline: none;
}

.t > textarea {
  border: 2px solid #0DCC11;
}

.f > textarea {
  border: 2px solid #CC0C1D;
}

.t:after {
  display: block;
  content: '✔';
  color: #0DCC11;
  text-align: center;
}

.f:after {
  display: block;
  content: '✘';
  color: #CC0C1D;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .deck-container {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 420px) {
  .deck-container {
    font-size: 1em;
  }
}